<div class="container main-content" ng-if="!scenario">
  Loading...
</div>
<div class="container main-content" ng-if="scenario">

  <img class="full-scenario-image" src="./images/full_scenario.png" alt="Scenario">

  <br>
  <div class="row scenario-page">

    <div class="col-sm-9 col-sm-push-3 col-lg-push-3 col-md-push-3">

      <div class="single_scenario_item">

        <div class="row">
          <div class="col-sm-12">
            <h2 class="pull-left" ><strong>{{scenario.name}}</strong></h2>
            <div ng-if="!is_favorite && user">
                <a ng-click="addRemoveFavorite()" class="add-favorite-button btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
            </div>
            <div ng-if="is_favorite && user">
              <a ng-click="addRemoveFavorite('remove')" class="add-favorite-button btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-heart-empty"></span> Unfavorite</a>
            </div>
            <div ng-if="!user">
              <a class="pull-right" ng-click='navigateToLogin($event)' href="/#/login">Login to Subscribe</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">

            <div class="small-profile visible-xs-block">
              <div class="small-profile-userbuttons">
                <a href="" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Follow</a>
              </div>
              <div class="profile-usertitle-name">
                <a a href="/#/profile/{{scenario.author._id}}">{{scenario.author.first_name}} {{scenario.author.last_name}}</a>
              </div>
              <div class="profile-usertitle-job">
                {{scenario.author.organization}}
              </div>
              <div class="small-profile-usertitle-sign-up">
                <span class="glyphicon glyphicon-time"></span> <span>Joined {{scenario.author.created | date:'MMMM yyyy'}}</span>
              </div>

            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <span class="glyphicon glyphicon-calendar"></span> <span> {{scenario.created | date:'dd.MM.yyyy HH:mm'}}</span> | <span class="glyphicon glyphicon-eye-open"></span> <span> {{scenario.view_count}}</span>
            <a class="print-button btn btn-sm pull-right" ng-if="user._id==scenario.author._id" href="/#/edit-scenario/{{scenario._id}}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <br>
            <p>
              {{scenario.description}}
            </p>
            <div class="row">
              <div class="col-sm-12">
                <span class="labels">
                  <span class="label label-danger">{{scenario.method}}</span>
                  <span class="label label-success">{{scenario.materialType}}</span>
               </span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="commets">

        <p ng-if="!user"><strong>You have to login to comment!</strong></p>
        <div ng-if="user">
          <form ng-submit="addComment(comment)">
            <div class="form-group">
              <label for="comment-text"><h3>Add a comment</h3></label><br>
              <div ng-if='save_error' class="alert alert-danger" role="alert">{{save_error}}</div>
              <div ng-if='save_success' class="alert alert-success" role="alert">{{save_success}}</div>
              <textarea id="comment-text" name="comment-text" ng-model="comment.text" class="form-control" rows="5" placeholder="Write comment here"></textarea>
            </div>
            <div class="form-submit">
              <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-share-alt"></span> ADD</button>
            </div>
          </form>
        </div>
        <br>

        <div ng-if="scenario.comments_count > 0">

          <h3>Comments ({{scenario.comments_count}})</h3>

          <!-- First Comment -->
          <article ng-repeat="comment in comments" class="row comments-list">
          <div class="col-md-2 col-sm-2 hidden-xs">
            <figure class="thumbnail">
              <img class="img-responsive" src="./images/profile.png">
            </figure>
          </div>
          <div class="col-sm-10 comment-closer">
            <div class="panel panel-default">
              <div class="panel-body">
                <header class="text-left">
                  <div class="comment-user">{{comment.author.first_name}} {{comment.author.last_name}}</div>
                  <time class="comment-date"><span class="glyphicon glyphicon-time"></span> {{comment.created | date:'dd.MM.yyyy HH:mm'}}</time>
                </header>
                <div class="comment-post">
                  <p>
                    {{comment.text}}
                  </p>
                </div>
                <!--<p class="text-right"><a href="#" disabled="disabled" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-share-alt"></span> Respond</a></p>-->
              </div>
            </div>
          </div>
          </article>

        </div>

        <p ng-if="scenario.comments_count == 0">Be the first one to comment!</p>

      </div>
    </div>

    <div class="col-sm-3 col-sm-pull-9 col-lg-pull-9 col-md-pull-9">

      <!-- Users Google profile picture -->
      <div class="profile-sidebar hidden-xs">

        <div class="profile-userpic">
          <img src="./images/profile.png" class="img-responsive" alt="{{user.first_name}} {{user.last_name}}">
        </div>

        <div class="profile-userbuttons">
          <a href="" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Follow</a>
        </div>

        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <a a href="/#/profile/{{scenario.author._id}}">{{scenario.author.first_name}} {{scenario.author.last_name}}</a>
          </div>
          <div class="profile-usertitle-job">
            {{scenario.author.organization}}
          </div>
          <div class="profile-usertitle-sign-up">
            <span class="glyphicon glyphicon-time"></span> <span>Joined {{scenario.author.created | date:'MMMM yyyy'}}</span>
          </div>
        </div>

      </div>

      <!-- Similar scenarios -->
      <div class="similar-scenarios">
        <h3>Popular scenarios</h3>
        <div class="row">
          <div class="col-xs-6 col-sm-12" ng-repeat="scenario in scenarios">
            <div class="thumbnail thumbnail-first-page">
              <a href="/#/scenario/{{scenario._id}}">
                <img class="thumbnail-preview" src="./images/thumbnail_200.png" alt="Generic placeholder thumbnail">
              </a>
              <div class="caption">
                <h4>{{scenario.name}}</h4>
                <p class="thumbnail-caption">{{scenario.description | limitTo: 60}}{{scenario.description.length > 60 ? '...' : ''}}</p>
                <p class="clearfix">
                  <span class="favorited-and-comments">
                    <span class="glyphicon glyphicon-heart"><span class="icon-space-after">{{scenario.favorites_count}}</span></span>
                    <span class="glyphicon glyphicon-comment"><span class="icon-space-after">{{scenario.comments_count}}</span></span>
                  </span>
                  <a class="open-link pull-right" href="/#/scenario/{{scenario._id}}">OPEN<span class="glyphicon glyphicon-chevron-right"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
