<div class="container main-content" ng-if="!profile && !no_user">
  <p class="loading-gif-animation"><img src="./images/loading.gif"></p>
</div>
<div class="container main-content" ng-show="no_user">
  No such user found, check URL
</div>
<div class="container main-content" ng-if="profile && !no_user">
  <div class="row single_member">

    <div style="border-right: 1px solid lightgray;" class="col-sm-3">

      <!-- user data -->
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <img ng-src="./images/user/{{profile.image}}?last_modified={{profile.last_modified}}" class="img-responsive" alt="">
        </div>
        <div class="profile-userbuttons">
          <a ng-click="addRemoveFollow()" ng-if="!is_following && user && user._id!=profile._id" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Follow</a>
          <a ng-click="addRemoveFollow('remove')" ng-if="is_following && user && user._id!=profile._id" class="btn btn-default btn-sm"><span class="glyphicon glyphicons-circle-minus"></span> Unfollow</a>
          <a href="/#/login" ng-if="!user" class=""> Login to follow</a>
          <a ng-if="user._id==profile._id" disabled="disabled" class="btn btn-success btn-sm">You are awesome</a>
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{profile.first_name}} {{profile.last_name}}
          </div>
          <div class="profile-usertitle-job">
            {{profile.organization}}
          </div>
          <div class="profile-usertitle-sign-up">
            <span class="glyphicon glyphicon-time"></span> <span>Joined {{profile.created | date:'MMMM yyyy'}}</span>
          </div>
        </div>
      </div>

      <div ng-if="followings" class="profile-side-box">
        <h3>Following</h3>

        <div class="row">
          <div class="col-xs-3 col-md-3" ng-repeat="f in followings | limitTo:sidebox_quantity.followings">
            <a href="/#/user/{{f.following._id}}" class="thumbnail" title="{{f.following.first_name}} {{f.following.last_name}}">
              <img ng-src="./images/user/{{f.following.image_thumb}}?last_modified={{f.following.last_modified}}" alt="User">
            </a>
          </div>
        </div>

        <!-- more button -->
        <a ng-click="expandSideBox('followings')" ng-if="sidebox_quantity.followings == 8  && followings.length > 8" class="pull-right" style="cursor: pointer; margin-right:-10px; margin-top:10px;"> More <span class="glyphicon glyphicon-menu-right"></span></a>

      </div>

      <div ng-if="followers" class="profile-side-box">
        <h3>Followers</h3>

        <div class="row">
          <div class="col-xs-3 col-md-3" ng-repeat="f in followers | limitTo:sidebox_quantity.followers">
            <a href="/#/user/{{f.follower._id}}" class="thumbnail" title="{{f.follower.first_name}} {{f.follower.last_name}}">
              <img ng-src="./images/user/{{f.follower.image_thumb}}?last_modified={{f.follower.last_modified}}" alt="User">
            </a>
          </div>
        </div>

        <!-- more button -->
        <a ng-click="expandSideBox('followers')" ng-if="sidebox_quantity.followers == 8 && followers.length > 8" class="pull-right" style="cursor: pointer; margin-right:-10px; margin-top:10px;"> More <span class="glyphicon glyphicon-menu-right"></span></a>

      </div>
      <br>
    </div>

    <div class="col-sm-9">

      <ul class="nav nav-tabs nav-tab-pop">
				<li ng-class="{active:isSortActive('latest')}">
					<a href ng-click="updateSortList('latest')" title="Latest">Latest</a>
				</li>
				<li ng-class="{active:isSortActive('popular')}">
					<a href ng-click="updateSortList('popular')" title="Popular">Popular</a>
				</li>
				<li ng-class="{active:isSortActive('favorited')}">
					<a href ng-click="updateSortList('favorited')" title="Top favorited">Top favorited</a>
				</li>
				<li ng-class="{active:isSortActive('commented')}">
					<a href ng-click="updateSortList('commented')" title="Top commented">Top commented</a>
				</li>
			</ul>

      <p ng-if="!scenarios || loading_animation" class="loading-gif-animation"><img src="./images/loading.gif"></p>
      <p ng-if="no_scenarios && user._id==profile._id"> Start your first scenario by clicking <a href="/#/create" class="add-favorite-button btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Create scenario</a></p>
      <p ng-if="no_scenarios && user._id!=profile._id"> User has no scenarios yet</p>


      <hr>
      <!-- scenario items -->
      <div class="single_scenario_item" dir-paginate="scenario in scenarios | itemsPerPage: 10">

        <!-- SINGLE SCENARIO -->
				<div class="row no-margin">
					<a><span class="dash-scenario-label pull-right label label-primary">{{scenario.subject.name}}</span></a>
					<div class="col-sm-12">
						<h4><strong><a href="/#/scenario/{{scenario._id}}" title="{{scenario.name}}">{{scenario.name}}</a></strong></h4>
					</div>
				</div>

				<div class="row no-margin">
					<div class="col-sm-4">
						<a href="/#/scenario/{{scenario._id}}" title="{{scenario.name}}" class="thumbnail">
							<img src="./images/thumbnail_200.png" alt="">
						</a>
					</div>
					<div class="col-sm-8">
						<p class="extra-info">
							<span class="glyphicon glyphicon-user"></span> <a href="/#/user/{{scenario.author._id}}" title="{{scenario.author.first_name}} {{scenario.author.last_name}}">{{scenario.author.first_name}} {{scenario.author.last_name}}</a><br>
							<span class="glyphicon glyphicon-calendar"></span> {{scenario.created | date:'dd.MM.yyyy'}}
							<span>| <span class="glyphicon glyphicon-eye-open"></span><span> {{scenario.view_count}}</span></span>
							<span>| <span class="glyphicon glyphicon-heart"></span><span> {{scenario.favorites_count}}</span></span>
							<span>| <span class="glyphicon glyphicon-comment"></span><span> {{scenario.comments_count}}</span></span>
						</p>
						<p>{{scenario.description}}</p>
						<div class="row open-button">
							<div class="col-xs-8">
								<span class="labels">
									<a href="#"><span class="label label-danger">{{scenario.method}}</span></a>
									<a href="#"><span class="label label-success">{{scenario.materialType}}</span></a>
								 </span>
							</div>
							<div class="col-xs-4">
							 <a class="btn btn-success btn-block btn-sm pull-right" href="/#/scenario/{{scenario._id}}" title="{{scenario.name}}">OPEN <span class="glyphicon glyphicon-chevron-right"></span></a>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<!-- SINGLE SCENARIO END -->

      </div>
      <dir-pagination-controls></dir-pagination-controls>

    </div>

  </div>
</div>
