node_modules/
config/
public/bower/
public/images/user/
public/images/user-temp/
public/images/favs/
public/images/scenario_thumbs/
public/js/min/
public/stylesheets/min/
public/localization/min/
.DS_Store
