<div class="container main-content" ng-if="!scenario && !fully_loaded">
  <div ng-if='errorMessage' class="alert alert-danger" role="alert">{{errorMessage}}</div>
  <p class="loading-gif-animation"><img src="./images/loading.gif"></p>
</div>
<div class="container main-content" ng-if="scenario && fully_loaded">
  <h2>Edit: <i>{{scenario.name}}</i> <span ng-if="saving" class="pull-right" style="font-size: 20px; color:gray;">saving...</span><span ng-if="!saving && saved" class="pull-right" style="font-size: 15px; color:gray;">all modifications saved</span></h2>
  </br>

  <div ng-if='errorMessage' class="alert alert-danger" role="alert">{{errorMessage}}</div>

  <div class="row no-margin">

    <!-- META DATA -->
    <div class="col-sm-4">

      <div class="row no-margin">
        <div class=" form-group">
          <label for="name"><strong>Name: </strong></label>
          <input type="text" ng-model="scenario.name" name="name" id="name" class="form-control" required/>
        </div>
      </div>

      <div class="row no-margin">
        <div class=" form-group">
          <label for="description"><strong>Description:</strong></label>
          <textarea class="form-control" id="description" ng-model="scenario.description" placeholder="Add a description to the subject" name="description"></textarea>
        </div>
      </div>

      <div class="row no-margin">
        <div class=" form-group">
          <label for="subject"><strong>Subject: </strong></label>
          <select class="form-control" id="subject" ng-model="selected_subject" ng-options="subject._id as subject.name for subject in subjects" name="subject" required>
          <!--<select class="form-control" id="subject" ng-model="selected_subject" name="subject" required>
            <option value="" selected disabled>Choose subject</option>
            <option ng-repeat="subject in subjects" value="{{subject._id}}">{{subject.name}}</option>-->
          </select>
        </div>
      </div>

      <div class="row no-margin">
        <div class=" form-group">
          <label for="grade"><strong>Grade: </strong></label>
          <input type="number" min="0" step="1" ng-model="scenario.grade" name="grade" id="grade" class="form-control" required/>
        </div>
      </div>

      <div class="row no-margin">
        <div class=" form-group">
          <label for="duration"><strong>Duration (min): </strong></label>
          <input type="number" min="0" step="1" ng-model="scenario.duration" name="duration" id="duration" class="form-control" required/>
        </div>
      </div>

    </div>

    <div class="col-sm-8">

      <div class="learining-outcomes-list-container">
        <h3>Learning outcomes</h3>

          <!-- one line of activity -->
          <div ng-repeat="outcome in outcomes_list track by $index" class="row form-group outcome-item">
            <div class="col-xs-10">
              <input type="text" ng-model="outcomes_list[$index].name" name="outcome-{{$index}}" id="item-{{$index}}-outcome" class="form-control" placeholder="Learning outcome" required />
            </div>
            <div class="col-xs-1 no-padding">
              <button style="margin-top: 2px;" ng-click="removeOutcome($index)" class="btn btn-sm btn-default pull-left"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          </div>

        <button ng-click="addNewOutcomeItem()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span></button>

      </div>

    </div>

  </div>

  <div class="row no-margin">
    <div class="activity-list-container">
      <h3>Lesson activities</h3>

      <div ui-sortable ng-model="activity_list" class="activity-list">

        <!-- one line of activity -->
        <div ng-repeat="activity in activity_list track by $index" class="row form-group activity-item">
          <div class="col-xs-1 no-padding">
            <div class="drag-selector">
              <span class="glyphicon glyphicon-option-vertical"></span>
            </div>
          </div>
          <div class="col-xs-3 no-padding">
            <input type="text" ng-model="activity_list[$index].name" name="activity-{{$index}}" id="item-{{$index}}-activity" class="form-control" placeholder="Activity" required />
          </div>
          <div class="col-xs-3">
            <input style="width: 50%; float: left;" type="number" ng-model="activity_list[$index].duration" name="duration-{{$index}}" id="item-{{$index}}-duration" class="form-control list-activity-duration" placeholder="min" required />

            <label style="width: 50%; text-align: center;">
              <input type="checkbox" ng-model="activity_list[$index].in_class" name="in_class-{{$index}}" id="item-{{$index}}-in_class" required />
              in-class
            </label>
          </div>
          <div class="col-xs-2 no-padding" style="padding-right:5px;">
            <div style="display: inline; width: 100%;" ng-dropdown-multiselect="" options="activity_organization" selected-model="activity_list[$index].activity_organization" extra-settings="activity_organizationSettings" translation-texts="activity_organizationText" ></div>
          </div>
          <div class="col-xs-2 no-padding" style="padding-right:10px;">
            <div style="display: inline; width: 100%;" ng-dropdown-multiselect="" options="outcomes_list" selected-model="activity_list[$index].outcomes" extra-settings="outcomesSettings" translation-texts="outcomesText" ></div>
          </div>
          <div class="col-xs-1 no-padding">
            <button style="margin-top: 2px;" ng-click="removeActivity($index)" class="btn btn-sm btn-default pull-left"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        </div>

      </div>

      <button ng-click="addNewActivityItem()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span></button>

    </div>
  </div>

  <div class="row no-margin">
    <h3>Publish</h3>

    <div class="row no-margin">
      <div class=" form-group">
        <select ng-if="scenario" style="width: 200px;  display: inline-block;" class="form-control" id="publish_option" ng-model="scenario.draft" ng-options="option.value as option.name for option in publish_options" name="publish_option" required>
        </select>
        <span> or   <a ng-click="deleteScenario()" href style="margin-right: 20px;">I want to delete my scenario </a></span>
      </div>
    </div>

  </div>

  <button ng-disabled="saving_in_progress" ng-click="saveScenario(scenario)" class="btn btn-success pull-right">Save & continue editing</button>
  <a href="/#/dashboard" style="margin-right: 10px;" class="btn btn-default pull-right">Cancel</a>

</div>
