<!-- Main content container that is inserted to index.html-->
<div class="container main-content">
  <h2>Create scenario</h2>
  <p ng-hide="user"><strong class="alert alert-warning" role="alert">Please <a href="/#/login">login</a> to add scenario</strong></p>

  <form ng-show="user" id="create-scenario" ng-submit="saveScenario(scenario)">

    <div class="row no-margin">

      <!-- META DATA -->
      <div class="col-sm-4">

        <div class="row no-margin">
          <div class=" form-group">
            <label for="title"><strong>Title: (required)</strong></label>
            <input type="text" ng-model="scenario.title" name="title" id="title" class="form-control" autofocus required/>
          </div>
        </div>

        <div class="row no-margin">
          <div class=" form-group">
            <label for="description"><strong>Description:</strong></label>
            <textarea class="form-control" id="description" ng-model="scenario.description" placeholder="Add a description to the subject" name="description"></textarea>
          </div>
        </div>

        <div class="row no-margin">
          <div class=" form-group">
            <label for="subject"><strong>Subject: (required)</strong></label>
            <select class="form-control" id="subject" ng-model="scenario.subject" name="subject" required>
              <option value="" selected disabled>Choose subject</option>
              <option ng-repeat="subject in subjects" value="{{subject._id}}">{{subject.name}}</option>
            </select>
          </div>
        </div>

        <div class="row no-margin">
          <div class=" form-group">
            <label for="stage"><strong>Stage: (required)</strong></label>
            <select class="form-control" id="stage" ng-model="scenario.stage" name="stage" required>
              <option value="" selected disabled>Choose stage</option>
              <option ng-repeat="stage in stages" value="{{stage}}">{{stage}}</option>
            </select>
          </div>
        </div>

        <div class="row no-margin">
          <div class=" form-group">
            <label for="grade"><strong>Grade: (required)</strong></label>
            <input type="text" ng-model="scenario.grade" name="grade" id="grade" class="form-control" required/>
          </div>
        </div>

        <div class="row no-margin">
          <div class=" form-group">
            <label for="duration"><strong>Duration (min): (required)</strong></label>
            <input type="text" ng-model="scenario.duration" name="duration" id="duration" class="form-control" required/>
          </div>
        </div>

      </div>

      <div class="col-sm-8">

        time and exersize fields list - auto populated

      </div>

    </div>

    <input type="submit" id="submit" value="Save & continue editing" class="btn btn-success" />

  </form>

  <br />
  <br />

  <!-- Success / Error messages -->
  <div style="width:400px" id="successMessage" ng-show="successMessage" class="alert alert-success" role="alert"><strong>Success!</strong> {{successMessage}}</div>
  <div style="width:400px" id="errorMessage" ng-show="errorMessage" class="alert alert-danger" role="alert"><strong>Error!</strong> {{errorMessage}}</div>

</div>
