<div class="container main-content" ng-if="!scenario && !fully_loaded">
  <div ng-if='errorMessage' class="alert alert-danger" role="alert">{{errorMessage}}</div>
  <p class="loading-gif-animation"><img src="./images/loading.gif"></p>
</div>
<div class="container main-content" ng-if="scenario && fully_loaded">
  <h2>{{scenario.name}} <span ng-if="saving" class="pull-right" style="font-size: 20px; color:gray;">saving...</span><span ng-if="!saving && saved" class="pull-right" style="font-size: 15px; color:gray;">all modifications saved</span>
    <a href="/#/edit-details/{{scenario._id}}" class="btn btn-default pull-right">Edit details</a>
  </h2>
  </br>

  <timeline></timeline>

  <editcanvasmodal></editcanvasmodal>

  <a href="/#/dashboard" class="btn btn-default pull-right">Cancel</a>

</div>
