<div class="container main-content" ng-if="!scenario && !fully_loaded">
    <div ng-if='errorMessage' class="alert alert-danger" role="alert">{{errorMessage}}</div>
    <p class="loading-gif-animation"><img src="./images/loading.gif"></p>
</div>
<div class="container main-content" ng-if="scenario && fully_loaded">
    <h4>{{'PAGE.EDIT' | translate}}: <i>{{scenario.name}}</i> <span ng-if="saving" class="pull-right" style="font-size: 20px; color:gray;">{{'NOTICE.SAVING' | translate}}</span><span ng-if="!saving && saved" class="pull-right" style="font-size: 15px; color:gray;">{{'NOTICE.ALL_SAVED' | translate}}</span></h4>

    <ul class="nav nav-tabs nav-tab-pop">
        <li>
            <a ng-href="#/edit/{{scenario._id}}/" ng-click="updateSortList('latest')" title="{{ 'BUTTON.DETAILS' | translate }}">{{ 'BUTTON.DETAILS' | translate }}</a>
        </li>
        <li>
            <a ng-href="#/edit/{{scenario._id}}/timeline" title="{{ 'BUTTON.TIMELINE' | translate }}">{{ 'BUTTON.TIMELINE' | translate }}</a>
        </li>
        <li class="active">
            <a ng-href="#/edit/{{scenario._id}}/publish" title="{{ 'BUTTON.PUBLISH' | translate }}">{{ 'BUTTON.PUBLISH' | translate }}</a>
        </li>
        <li ng-if="!scenario.draft" class='pull-right'>
            <a ng-href="#/scenario/{{scenario._id}}" target="_blank" title="{{ 'BUTTON.OPEN' | translate }}">{{ 'BUTTON.OPEN' | translate }} <span class="glyphicon glyphicon-new-window"></span></a>
        </li>
    </ul>


    <div ng-if='errorMessage' class="alert alert-danger" role="alert">{{errorMessage}}</div>

    <div class="row no-margin">
        <h3>{{'INPUT.PUBLISH' | translate}}</h3>

        <div class="row no-margin">
            <div class=" form-group">
                <select ng-if="scenario" style="width: 200px;  display: inline-block;" class="form-control" id="publish_option" ng-model="scenario.draft" ng-options="option.value as option.name for option in publish_options" name="publish_option" required>
                </select>
            </div>
        </div>

        <div class="row no-margin">
            <div class=" form-group">
                <label for="grade"><strong>{{'INPUT.LANGUAGE' | translate}} </strong></label><br>
                <select style="width: 200px;  display: inline-block;" class="form-control" id="publish_option" ng-model="scenario.language" ng-options="option.value as option.name for option in language_options" name="language_options" required>
                </select>
            </div>
        </div>

        <div style="margin-top:20px;" class="row no-margin">
            <div class=" form-group">
                <a ng-click="deleteScenario()" href style="margin-right: 20px;"><span class="glyphicon glyphicon-trash"></span> {{'INPUT.I_WANT_TO_DELETE' | translate}}</a>
            </div>
        </div>

    </div>

</div>
