/*
 * Globals
 */

body {

}

.main-content {
   padding-top: 80px;
 }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333;
}

.navbar-brand,
.navbar-brand:hover {
  background-image: url(../images/logo.png);
  background-size: 260px;
  width: 45px;
  color: transparent !important;
  margin-left: 10px !important;
}

.add-new-top-button,
.add-new-top-button:hover
 {
  height: 35px;
  line-height: 10px !important;
  padding-top: 8px !important;
  color: #fff !important;
  font-weight: normal !important;
  text-shadow: none !important;
  margin-top: 7px;
  margin-right: 20px;
  background-color: #419641 !important;
}

.login-top,
.create-new-user-top {
  height: 35px;
  padding-top: 8px !important;
  font-weight: normal !important;
  text-shadow: none !important;
  margin-top: 7px;
  display: inline-block !important;
  line-height: 16px !important;
}

.login-top {
  width: 100px;
  color: #fff !important;
  background-color: #286090 !important;

}
.create-new-user-top,
.create-new-user-top:hover
 {
  width: 120px;
  background-color: #e0e0e0 !important;
}

.login-or-create {
  display: inline-block;
  height: 33px;
  padding: 10px 6px 0;
  vertical-align: middle;
}

.login-home {
  width: 300px;
}

.profile-image {
  height: 32px;
  width: 32px;
  display: inline-block;
  margin-right: 7px;
}

a.contains-profile-img {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.jumbotron {
  text-align: left;
  background-color: transparent;
  margin-bottom: 50px;
}

.jumbotron h2 {
  font-size: 38px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.jumbotron .home-intro {
  font-size: 14px;
  margin-bottom:20px;

}

.jumbotron .btn {
    font-size: 14px;
}

.first-page-banner {
  width: 70%;
}

.first-page-preview {
    width: 100%;
    margin-left: -50px;
    margin-top: 17px;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.nav-tab-pop {
  margin-bottom: 15px;
}

.thumbnail-preview {
  width: 100%;
  border: 1px solid lightgray;
}

.thumbnail.thumbnail-first-page {
  height: 270px;
}

.thumbnail p.thumbnail-caption {
  font-size: 12px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail h4 {
  height: 41px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.open-link {
  margin-bottom: -15px;
  margin-top: -5px;
  padding: 5px;

}

.favorited-and-comments {
  font-size: 12px;
  color: gray;
}

.favorited-and-comments span{
  padding-left: 6px;
}

.favorited-and-comments span .icon-space-after {
  padding-left: 5px;
}

.simple-search {
  margin-top: 40px;
  margin-bottom: 40px;
}

.simple-search input {
  display: inline-block;
}

.simple-search h3 {
  margin-left: 10px;
  display: inline-block;
}

.search-desc {
  font-size: 12px;
  margin-left: 10px;
}
.search-form .multiselect-parent.btn-group.dropdown-multiselect,
.btn-fixed-width {
  width: 100% !important;
}

.simple-browse h3 {
  margin-left: 25px;
  margin-bottom: 20px;
}

.simple-browse a {
  display: inline-block;
  width: 30%;
}

.simple-browse .col-sm-11 {
  margin-left: 30px;
}

.more-spec-search {
  float: right;
  margin-top: 10px;
}

.simple-search .input-group {
  margin-top: 35px;

}

.footer {
  margin-top: 50px;
}

.footer ul {
  list-style: none;
}

span.selected {
  padding-right: 7px;
}

span.not-selected {
  padding-right: 21px;
}

.drop-down-search {
  width: 90%;
  margin: 0 auto;
}

.main-input-search-top {
  text-overflow: ellipsis;
}

.search-fields-top .col-sm-2 button,
.search-fields-top .col-sm-3 button {
  text-align: left;
}

.search-fields-top .col-sm-2 .caret,
.search-fields-top .col-sm-3 .caret {
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

.search-fields-top .dropdown-menu>li>a span {
  padding-left: 18px;
}
.search-fields-top .dropdown-menu>li>a span.glyphicon {
  padding-left: 0px;
}

.search-fields-top .col-sm-2,
.search-fields-top .col-sm-3 {
  padding-right: 3px;
  padding-left: 3px;
}

.advanced-options-and-results .col-sm-3 {
  margin-top: 10px;
  padding-right: 3px;
  padding-left: 3px;
}
.advanced-options-and-results .col-sm-3 .panel {
  margin-bottom: 10px;
  cursor: pointer;
}
.advanced-options-and-results .col-sm-3 .panel span {
  float: right;
}

.results-heading {
  margin-top: 30px;
}

.advanced-options-and-results .col-sm-3 .panel h4 {
  font-size: 12px;
}

.advanced-options-and-results .col-sm-3 .panel-heading {
  font-size: 13px;
}

.advanced-options-and-results .col-sm-3 .list-group-item {
  font-size: 12px;
}

.advanced-options-and-results .col-sm-3 .panel .filter-items {
  margin-bottom: 5px;
  font-size: 12px;
}

.advanced-options-and-results .col-sm-3 .panel .items {
  height: 200px;
  overflow-y: scroll;
}

.single_scenario_item p {
  font-size: 13px;
}

.single_scenario_item {
  padding-bottom: 10px;
}

.single_scenario_item .thumbnail {
  margin-bottom: 10px;
}

.single_scenario_item .extra-info {

}

.single_scenario_item .rating {

}

.pagination-scenarios-list {
  text-align: center;
}

.subject-page .panel,
.subject-page .list-group-item {
  font-size: 13px;
}

.subject-heading {

  display: inline-block;

}

.follow-subject {

  display: inline-block;
  margin-left: 20px;
  margin-top: -17px;

}

.subject-inro {
  margin-bottom: 25px;
}

.profile-sidebar {
}
.profile-userpic img {

  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.subject-image {
  width: 72px;
  margin-right: 22px;
  margin-bottom: 10px;
  float: left;
}

.profile-usertitle {

  margin-top: 20px;
}

.profile-usertitle-name {
  font-weight: bold;
  font-size: 18px;
}
.profile-userbuttons {
  margin-top: 25px;
}
.profile-userbuttons a {
  width: 100%;
}

.profile-usertitle-sign-up {
  margin-top: 10px;
  font-size: 12px;
  color: gray;
}

.following {

  margin-top: 40px;
  padding: 10px;

}

.following .col-md-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.following .thumbnail {
  margin-bottom: 2px;
  padding: 2px;

}

.following .thumbnail img {
  width:100%;
}

.full-scenario-image {
    width: 100%;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}

.similar-scenarios {
  margin-top: 30px;
}

.similar-scenarios h3 {
  font-size: 22px;
}

.commets {
  margin-top: 20px;
  font-size: 13px;
}

.commets .comment-date {
  color: gray;
  margin-bottom: 10px;
}

.comment-closer {
    padding-left: 0;
}

.comment-post {
  margin-top: 15px;
}

.commets p.text-right {
   margin: 0;
}

.post-comment .name,
.post-comment .email {
  width: 200px;
}

.main-login {
    max-width: 320px;
    margin: 0 auto;
    font-size: 12px
  }
.main-login .login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
          margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-login .span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.main-login .hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.main-login h3 {
  text-align: center;
  line-height: 300%;
}

.print-button,
.save-button {
    margin-top: 0;
}


/*

  SIDE menu


*/

.side-menu ul {
    width: 100%;
}

.side-menu ul li {
  float: none;
  display: block;
  font-size: 12px;
}

.side-menu ul li span {
  margin-right: 5px;
}

.side-menu ul li .badge {
  float: right;
}

.dashboard-main-content {
  height: 100%;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  font-size: 13px;
  padding-top: 5px;
}

.dashboard-main-content .badge {
  //float: right;
  margin-left: 5px;
}

::-webkit-scrollbar {
    display: none;
}

.input-group.search {
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.dashboard-main-content .single_scenario_item {
  padding-bottom: 0px;
}

.dashboard-main-content .single_scenario_item .extra-info {
  display: inline-block;
}

.dashboard-main-content .single_scenario_item .rating {
  float: right;
  display: inline-block;
  margin-left: 38px;
}

.dashboard-main-content .single_scenario_item .open-button {
   margin-top: -10px;
}

.dashboard-main-content a h3.panel-title {
  color: #fff;
  text-decoration: none;
}

.dashboard-main-content a.black-link h3.panel-title {
  color: #000;
  text-decoration: none;
}

.loading-gif-animation {
  text-align: center;
  margin: 0 auto;

}


.notifications
{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.notifications img {
  width: 35px;
}

.notifications li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.notifications li.left .notification-body
{
    margin-left: 50px;
}


.notifications li .notification-body p
{
    margin: 0;
    color: #777777;
}

.notifications {
  height: 300px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

p.content-for-notification {
  float: left;
  padding-top: 6px;
}

.notifications li.new {
  font-weight: bold;
  color: #000;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.header-search {
 margin-top: 8px;
}

.header-login {
  margin-left: 30px;
  margin-top: 14px;
}
#bottom {
  position: absolute;
  bottom: 10%;
}


.search-dash {
  margin-right: 20px;
  width: 400px;
}

.dash-scenario-label {
    margin-right: 15px;
}
