<div class="container main-content">
	<h2>Search</h2>
	<!-- Dropd down menu and textbox for search criterions -->
	<div class="row search-fields-top">
		<form class='search-form' ng-submit="search()" >
			<div class="col-sm-3">
				<input id='search-word-input' class="form-control" type="text" ng-model="search_word" name="name" placeholder="Search" autofocus >
			</div>
			<div class="col-sm-3">
		  	<div style="display: inline; width: 100%;" ng-dropdown-multiselect="" options="subjects" selected-model="selected_subjects" extra-settings="subjectSettings" translation-texts="subjectText"></div>
			</div>
			<div class="col-sm-2">
				<div style="display: inline; width: 100%;" ng-dropdown-multiselect="" options="methods" selected-model="selected_method" extra-settings="methodSettings" translation-texts="methodText"></div>
			</div>
			<div class="col-sm-2">
				<div style="display: inline; width: 100%;" ng-dropdown-multiselect="" options="stages" selected-model="selected_stage" extra-settings="stageSettings" translation-texts="stageText"></div>
			</div>
			<div class="col-sm-2">
				<input style="width: 100%; display: inline" class="btn btn-primary btn-block" type="submit" value="Search">
			</div>
		</form>
	</div>
<!-- Search div where all the results are shown -->
	<div class="row advanced-options-and-results">
		<!--<div class="col-sm-3">
			<div id="accordion" class="panel-group">
          <div class="panel panel-default">

            <div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapseOne" data-parent="#accordion" >Additional options<span class="glyphicon glyphicon-menu-down"></span></a>
							</h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse">
							<div class="panel-body">
								<ui-select multiple ng-model="tech" theme="bootstrap" ng-disabled="disabled" close-on-select="false" style="width: 200px;" title="Choose tech">
							    <ui-select-match placeholder="Select tech...">{{$item}}</ui-select-match>
							    <ui-select-choices repeat="tech in techs" theme="bootstrap">
							    {{tech}}
							    </ui-select-choices><br>
							  </ui-select>
							</div>
						</div>
          </div>
      </div>
    </div>-->
		<div class="col-sm-9">
			<h4 class="results-heading">Found <strong>{{scenarios.length}}</strong>  scenarios <span ng-if="search_word_end">for keyword <strong >"{{search_word_end}}"</strong></span></h4>
			<!-- ng-repeat that repeats the divs for each scenario in scenarios array/object -->
			<!-- <div class="single_scenario_item" id="{{scenario._id}}" ng-repeat="scenario in scenarios"> -->
			<!-- https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination -->
			<div class="single_scenario_item" id="{{scenario._id}}" dir-paginate="scenario in scenarios | itemsPerPage: 10">

		    <div class="row">
		      <div class="col-sm-12">
		        <h4><strong><a href="/#/scenarios/{{scenario._id}}">{{scenario.name}}</a></strong></h4>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-sm-4">
		        <a href="scenario.php" class="thumbnail">
		            <img src="./images/thumbnail_200.png" alt="">
		        </a>

					<br />
		      </div>
		      <div class="col-sm-8">
		        <p class="extra-info">
		          <span class="glyphicon glyphicon-user"></span> <a href="/#/profile/{{scenario.author.id}}">{{scenario.author.first_name}} {{scenario.author.last_name}}</a><br>
		          <span class="glyphicon glyphicon-calendar"></span> {{scenario.created | date:'dd.MM.yyyy'}}
		        </p>
		        <p>
							{{scenario.description}}
		        </p>
		        <div class="row">
		          <div class="col-sm-9">
		            <span class="labels">
									<a href="scenario.php"><span class="label label-danger">{{scenario.method}}</span></a>
									<a href="scenario.php"><span class="label label-success">{{scenario.materialType}}</span></a>
		             </span>
		          </div>
		          <div class="col-sm-3">
		           <a class="btn btn-success btn-block btn-sm pull-right" href="/#/scenarios/{{scenario._id}}">OPEN <span class="glyphicon glyphicon-chevron-right"></span></a>
		          </div>
		        </div>
		      </div>
		    </div>
			</div>

			<!-- https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination -->
			<dir-pagination-controls></dir-pagination-controls>

		</div>
	</div>
</div>
