<div class="container main-content">
	<h2>{{'HEADING.SEARCH' | translate}}</h2>
	<!-- Dropdown menu and textbox for search criterions -->
	<div class="row search-fields-top">
		<form class='search-form' ng-submit="search()" >
			<div class="col-sm-3">
				<input id='search-word-input' class="form-control" type="text" ng-model="search_word" name="name" placeholder="{{'INPUT.SEARCH' | translate}}" autofocus >
			</div>
			<div class="col-sm-2">
		  	<div style="display: inline; width: 100%;" ng-dropdown-multiselect="" options="subjects" selected-model="selected_subjects" extra-settings="subjectsSettings" translation-texts="subjectsText"></div>
			</div>
            <div class="col-sm-2">
		  	<div style="display: inline; width: 100%;" ng-dropdown-multiselect="" options="language_options" selected-model="selected_languages" extra-settings="languagesSettings" translation-texts="languagesText"></div>
			</div>
			<div class="col-sm-2">
				<input style="width: 100%; display: inline" class="btn btn-primary btn-block" type="submit" value="{{'BUTTON.SEARCH' | translate}}">
			</div>
		</form>
	</div>
<!-- Search div where all the results are shown -->
	<div class="row advanced-options-and-results">
		<!--<div class="col-sm-3">
			<div id="accordion" class="panel-group">
          <div class="panel panel-default">

            <div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapseOne" data-parent="#accordion" >Additional options<span class="glyphicon glyphicon-menu-down"></span></a>
							</h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse">
							<div class="panel-body">
								<ui-select multiple ng-model="tech" theme="bootstrap" ng-disabled="disabled" close-on-select="false" style="width: 200px;" title="Choose tech">
							    <ui-select-match placeholder="Select tech...">{{$item}}</ui-select-match>
							    <ui-select-choices repeat="tech in techs" theme="bootstrap">
							    {{tech}}
							    </ui-select-choices><br>
							  </ui-select>
							</div>
						</div>
          </div>
      </div>
    </div>-->
		<div class="col-sm-12 col-md-9 col-lg-9 col-xs-12">
			<h4 class="results-heading">{{ 'INPUT.FOUND' | translate }} <strong ng-if="total_count">{{total_count}}</strong> <span ng-if="search_word_end">{{ 'INPUT.FOR_KEYWORD' | translate }} <strong >"{{search_word_end}}"</strong></span></h4>
			<!-- makes the clicked tab active-->
			<ul class="nav nav-tabs nav-tab-pop">
				<li ng-class="{active:isSortActive('latest')}">
					<a href ng-click="updateSortList('latest')" title="{{ 'CONTENT.TAB_LATEST' | translate }}">{{ 'CONTENT.TAB_LATEST' | translate }}</a>
				</li>
				<li ng-class="{active:isSortActive('popular')}">
					<a href ng-click="updateSortList('popular')" title="{{ 'CONTENT.TAB_MOST_VIEWED' | translate }}">{{ 'CONTENT.TAB_MOST_VIEWED' | translate }}</a>
				</li>
				<li ng-class="{active:isSortActive('favorited')}">
					<a href ng-click="updateSortList('favorited')" title="{{ 'CONTENT.TAB_TOP_FAVORITED' | translate }}">{{ 'CONTENT.TAB_TOP_FAVORITED' | translate }}</a>
				</li>
				<li ng-class="{active:isSortActive('commented')}">
					<a href ng-click="updateSortList('commented')" title="{{ 'CONTENT.TAB_TOP_COMMENTED' | translate }}">{{ 'CONTENT.TAB_TOP_COMMENTED' | translate }}</a>
				</li>
			</ul>

			<p ng-if="!scenarios || loading_animation" class="loading-gif-animation"><img src="./images/loading.gif"></p>

			<hr>
			<div scenario class="single_scenario_item" id="{{scenario._id}}" current-page="pagination.current" dir-paginate="scenario in scenarios | itemsPerPage: 10" total-items="total_count">
            </div>
			<!-- https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination -->
			<dir-pagination-controls on-page-change="pageChanged(newPageNumber)" ></dir-pagination-controls>

		</div>
	</div>
</div>
