<div class="container main-content">

    <div class="row login-page no-margin">

        <div class="main-login">
            <h2>{{'HEADING.PROFILE_PIC' | translate}}</h2>
            <img height='200px' width='200px' class="img-circle" style="height:200px;width:200px" ng-src="./images/user/{{user.image}}?last_modified={{user.last_modified}}"/>
            <div ng-if='upload_error' class="alert alert-danger" role="alert">{{upload_error}}</div>
            <div ng-if='upload_success' class="alert alert-success" role="alert">{{upload_success}}</div>
            <p>{{'NOTICE.PROFILE_IMAGE_ACCEPT' | translate}}</p>
              <input type="file" ngf-select ngf-change="uploadPicture($files)"></input>
              <p ng-if="progress_percentage">{{progress_percentage}}</p>
            <br>

            <h2>{{'HEADING.UPDATE_PROFILE' | translate}}</h2>
            <form name="updateProfile-form" id="updateProfile-form" ng-submit="updateProfile(user)">
              <div ng-if='updateProfile_error' class="alert alert-danger" role="alert">{{updateProfile_error}}</div>
              <div ng-if='updateProfile_success' class="alert alert-success" role="alert">{{updateProfile_success}}</div>
              <div class="form-group">
                <label for="new_first_name">{{'INPUT.FIRST_NAME' | translate}}</label>
                <input type="text" class="form-control" id="new_first_name" name="new_first_name" ng-model="user.new_first_name" ng-value="user.first_name" required/>
              </div>
              <div class="form-group">
                <label for="new_last_name">{{'INPUT.FIRST_NAME' | translate}}</label>
                <input type="text" class="form-control" id="new_last_name" name="new_last_name" ng-model="user.new_last_name" required />
              </div>
              <div class="form-group">
                <label for="new_organization">{{'INPUT.ORGANIZATION' | translate}}</label>
                <input type="text" class="form-control" id="new_organization" name="new_organization" ng-model="user.new_organization" />
              </div>
              <div class="form-group">
                <label for="email">{{'INPUT.EMAIL' | translate}}</label>
                <input type="email" class="form-control" id="email" name="email" ng-model="user.new_email" required />
              </div>
              <div class="form-group" ng-if="user.new_email != user.email">
                <label for="confirm_password">{{'INPUT.PASSWORD_TO_CONFIRM' | translate}}</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" ng-model="user.confirm_password"  />
              </div>
              <div class="form-submit">
                <input ng-disabled="updating_in_progress" type="submit" class="btn btn-sm btn btn-primary" value="Update" />
              </div>
            </form>
            <br>
            <h2>{{'HEADING.UPDATE_PASSWORD' | translate}}</h2>
            <form name="updatePassword-form" id="updatePassword-form" ng-submit="updatePassword(user)">
              <div ng-if='updatePassword_error' class="alert alert-danger" role="alert">{{updatePassword_error}}</div>
              <div ng-if='updatePassword_success' class="alert alert-success" role="alert">{{updatePassword_success}}</div>
              <div class="form-group">
                <label for="password">{{'INPUT.OLD_PASSWORD' | translate}}</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="user.password"  />
              </div>
              <div class="form-group">
                <label for="password">{{'INPUT.NEW_PASSWORD' | translate}}</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="user.new_password"  />
              </div>
              <div class="form-group">
                <label for="password">{{'INPUT.NEW_PASSWORD_AGAIN' | translate}}</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="user.new_password_twice"  />
              </div>
              <div class="form-submit">
                <input ng-disabled="updating_in_progress" type="submit" class="btn btn-sm btn btn-primary" value="{{'BUTTON.UPDATE_PASSWORD' | translate}}" />
              </div>
            </form>

        </div>
    </div>
</div>
