<div ng-if='user'>
  <strong>Hi, {{user.first_name}}!</strong>
  <a href="/#/" ng-click="logout()" >Log out</a>

  <br>
</div>
<h2>Update profile</h2>
<div>
  <form name="updateProfile-form" id="updateProfile-form" ng-submit="updateProfile(user)">
    <div class="form-group">
      <label for="new_first_name">First name</label>
      <input type="text" id="new_first_name" name="new_first_name" ng-model="user.new_first_name" ng-value="user.first_name" required/>
    </div>
    <div class="form-group">
      <label for="new_last_name">Last name</label>
      <input type="text" id="new_last_name" name="new_last_name" ng-model="user.new_last_name" required />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" ng-model="user.new_email" required />
    </div>
    <div class="form-submit">
      <input type="submit" value="Update" />

      <div ng-if='updateProfile_error' style="color:red;">{{updateProfile_error}}</div>

    </div>
  </form>
  <br>
  <h2>Update password</h2>
  <form name="updatePassword-form" id="updatePassword-form" ng-submit="updatePassword(user)">
    <div class="form-group">
      <label for="password">Confirm old password</label>
      <input type="password" id="password" name="password" ng-model="user.password"  />
    </div>
    <div class="form-group">
      <label for="password">New password</label>
      <input type="password" id="password" name="password" ng-model="user.new_password"  />
    </div>
    <div class="form-group">
      <label for="password">New password twice</label>
      <input type="password" id="password" name="password" ng-model="user.new_password_twice"  />
    </div>
    <div class="form-submit">
      <input type="submit" value="Update password" />

      <div ng-if='updatePassword_error' style="color:red;">{{updatePassword_error}}</div>

    </div>
  </form>
</div>
