
!-- ///////////////////////// -->
<!-- ||||||   CONTENT   |||||| -->
<!-- ///////////////////////// -->

<div class="container main-content">

	<!-- middle div on home.html that shows logo and information-->
  <!-- Jumbotron -->
  <div class="jumbotron">
    <div class="row ">

      <div class="col-sm-6 col-sm-offset-1">
        <img class="first-page-banner" src="/images/logo.png">
        <img class="first-page-preview" src="/images/preview.png">
      </div>
      <div class="col-sm-5">
        <h2>Create. Share. Discover. Scenarios</h2>
        <p class="lead home-intro" class="thumbnail-caption">Cras justo odio, dapibus ac facilisis in, egestas eget quam. todio, dapibus ac facilisis in, egestas eget quam.</p>
        <p><a class="btn btn-sm  btn-success" href="#/create" role="button">CREATE SCENARIO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
      </div>
    </div>
  </div>


  <!-- //////////////////////////// -->
  <!-- ||||||   THUMBNAILS   |||||| -->
  <!-- //////////////////////////// -->
  	<!-- tab controller to change how subjects are shown on home page-->
  <div class="row">
      <div class="container">
          <section>

          <!-- makes the clicked tab active-->
          <ul class="nav nav-tabs nav-tab-pop">
              <li ng-class="{active:isActive('latest')}">
                  <a href ng-click="updateList('latest')">Latest</a>
              </li>
              <li ng-class="{active:isActive('popular')}">
                  <a href ng-click="updateList('popular')">Popular</a>
              </li>
          </ul>

            <div>
                <div class="col-xs-6 col-sm-3" id="scenarios_list" ng-repeat="scenario in scenarios | limitTo:4" >
                  <div class="thumbnail thumbnail-first-page">
                      <a href="/#/scenario/{{scenario._id}}">
                        <img class="thumbnail-preview" src="./images/thumbnail_200.png" alt="Generic placeholder thumbnail">
                      </a>
                      <p id="{{scenario._id}}">
                        <h4>{{scenario.name}}</h4>
                          <p class="thumbnail-caption">{{scenario.description | limitTo: 60}}{{scenario.description.length > 60 ? '...' : ''}}</p>

                              <span class="favorited-and-comments">
                                  <span class="glyphicon glyphicon-heart">{{scenario.favorites_count}}</span>
                                  <span class="glyphicon glyphicon-comment">2</span>
                              </span>

                              <a class="open-link pull-right" href="/#/scenario/{{scenario._id}}">OPEN<span class="glyphicon glyphicon-chevron-right"></span></a>

                      </div>
                  </div>
                </div>

          </section>
        </div>
</div>

  <h3>Subjects</h3>
          	<!-- show list of subjects -->
  <ul class="subjects">
    <li style="list-style: none" ng-repeat="subject in subjects"  class="col-xs-6 col-sm-4">
      <a href="#/subject/{{subject}}" style="cursor: pointer">{{subject}}</a>
    </li>
  </ul>

</div><!-- /.container MAIN CONTENT-->
