<div class="container main-content" ng-show="get_tag">
    <div class="row">

        <div class="col-sm-10 col-sm-offset-1">
            <h2><span ng-if="no_scenarios">{{'NOTICE.NO_TAG' | translate}} </span>#{{get_tag}} <span style="color:gray; font-size:16px;" ng-if="scenarios.length > 0">({{total_count}})</span></h2><br>
        </div>

    </div>

    <div ng-hide="no_scenarios" class="row">

        <div class="col-sm-10 col-sm-offset-1">

            <ul class="nav nav-tabs nav-tab-pop">
                <li ng-class="{active:isSortActive('latest')}">
                    <a href ng-click="updateSortList('latest')" title="{{ 'CONTENT.TAB_LATEST' | translate }}">{{ 'CONTENT.TAB_LATEST' | translate }}</a>
                </li>
                <li ng-class="{active:isSortActive('popular')}">
                    <a href ng-click="updateSortList('popular')" title="{{ 'CONTENT.TAB_MOST_VIEWED' | translate }}">{{ 'CONTENT.TAB_MOST_VIEWED' | translate }}</a>
                </li>
                <li ng-class="{active:isSortActive('favorited')}">
                    <a href ng-click="updateSortList('favorited')" title="{{ 'CONTENT.TAB_TOP_FAVORITED' | translate }}">{{ 'CONTENT.TAB_TOP_FAVORITED' | translate }}</a>
                </li>
                <li ng-class="{active:isSortActive('commented')}">
                    <a href ng-click="updateSortList('commented')" title="{{ 'CONTENT.TAB_TOP_COMMENTED' | translate }}">{{ 'CONTENT.TAB_TOP_COMMENTED' | translate }}</a>
                </li>
            </ul>

            <p ng-if="!scenarios || loading_animation" class="loading-gif-animation"><img src="./images/loading.gif"></p>

            <hr>
            <!-- scenario items -->
            <div scenario class="single_scenario_item" current-page="pagination.current" dir-paginate="scenario in scenarios | itemsPerPage: 10" total-items="total_count"></div>
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

        </div>

    </div>
</div>
