<div class="container main-content"  style="height:100%;">
  <div class="row dashboard" style="height:100%; ">

    <div class="col-sm-2 side-menu">
      <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
          <ul class="nav navbar-nav dash-menu">
            <li ng-class="{active:isActiveDash('feed')}"><a ng-click="updateDashList('feed')" href title="Feed"><span class="glyphicon glyphicon-globe"></span> Feed</a></li>
            <li ng-class="{active:isActiveDash('drafts')}"><a ng-click="updateDashList('drafts')" href title="Drafts"><span class="glyphicon glyphicon glyphicon-file"></span> <strong>Drafts</strong><!--<span class="badge">{{drafts_count}}</span>--></a></li>
            <li ng-class="{active:isActiveDash('published')}"><a ng-click="updateDashList('published')" href title="Published"><span class="glyphicon glyphicon-list-alt"></span> Published</a></li>
            <li ng-class="{active:isActiveDash('favorites')}"><a ng-click="updateDashList('favorites')" href title="Favorites"><span class="glyphicon glyphicon-heart"></span> Favorites</a></li>
            <li ng-class="{active:isActiveDash('users')}"><a ng-click="updateDashList('users')" href title="Users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
          </ul>
        </div>
      </nav>
    </div><!-- /.sidemenu -->

    <div class="col-sm-3 col-sm-push-7 col-lg-push-7 col-md-push-7">
      <h3>Notifications</h3>
      <div class="panel panel-default">
        <div class="panel-collapse">
          <div class="panel-body">
            <ul class="notifications">

              <p ng-if="!notifications || notifications_loading_animation" class="loading-gif-animation"><img src="./images/loading.gif"></p>
              <p ng-if="notifications && notifications.length == 0" >Notifications will appear if someone comments your published scenarios.</p>


              <!-- SINGLE NOTIFICATION -->
              <li ng-repeat="n in notifications" ng-class="n.new ? 'new' : 'old'" class="left clearfix">
                <span class="notification-img pull-left">
                  <img ng-src="./images/user/{{n.user.image_thumb}}?last_modified={{n.user.last_modified}}" alt="{{n.user.first_name}} {{n.user.last_name}}" class="img-circle" />
                </span>
                <div class="notification-body clearfix">
                  <div class="header">
                    <p>
                      <a href="/#/user/{{n.user._id}}"><strong class="primary-font">{{n.user.first_name}} {{n.user.last_name}}</strong></a><br>
                      <small class="pull-left text-muted clearfix">
                        <span class="glyphicon glyphicon-time"></span> {{n.comment.created | date:'dd.MM.yy HH:mm'}}
                      </small>
                    </p>
                  </div>
                  <p class="content-for-notification">Commented: "<a href="/#/scenario/{{n.comment.scenario._id}}">{{n.comment.scenario.name}}</a>"</p>
                </div>
              </li>
              <!-- SINGLE NOTIFICATION  END-->

            </ul>
          </div>

          <div class="panel-footer clearfix">
             <a  ng-click="getLatestNotifications()" style="cursor:pointer" class="pull-left" >Get latest</a>
             <a  ng-if="notifications.length > 0" ng-hide="notifications.length > 10" ng-click="getAllNotifications()" style="cursor:pointer" class="pull-right" >Load all</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-7 col-sm-pull-3 col-lg-pull-3 col-md-pull-3" style="height:100%; min-height: 100px;">
      <div class="dashboard-main-content">

        <ul class="nav nav-tabs nav-tab-pop">
  				<li ng-class="{active:isSortActive('latest')}">
  					<a href ng-click="updateSortList('latest')" title="Latest">Latest</a>
  				</li>
  				<li ng-class="{active:isSortActive('popular')}">
  					<a href ng-click="updateSortList('popular')" title="Popular">Popular</a>
  				</li>
  				<li ng-class="{active:isSortActive('favorited')}">
  					<a href ng-click="updateSortList('favorited')" title="Top favorited">Top favorited</a>
  				</li>
  				<li ng-class="{active:isSortActive('commented')}">
  					<a href ng-click="updateSortList('commented')" title="Top commented">Top commented</a>
  				</li>
  			</ul>

        <p ng-if="!scenarios || loading_animation" class="loading-gif-animation"><img src="./images/loading.gif"></p>

        <p ng-if="messages.no_drafts"> Start your first scenario by clicking <a href="/#/create" class="add-favorite-button btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Create scenario</a></p>
        <p ng-if="messages.no_published"> Create scenario draft and then publish it. All your published scenarios will appear here!</p>
        <p ng-if="messages.no_favorites"> Add favorites by clickking on <button class="add-favorite-button btn btn-success btn-sm"><span class="glyphicon glyphicon-heart"></span> Favorite</button> button while viewing single scenario </p>
        <p ng-if="messages.no_following"> Follow other users who have <strong>published scenarios</strong> by clicking <button class="add-favorite-button btn btn-success btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Follow</button> next to user. <br> Go to <a style="cursor:pointer;" ng-click="updateDashList('users')"> Users</a></p>

        <!-- scenario items -->
        <div class="single_scenario_item" dir-paginate="scenario in scenarios | itemsPerPage: 10">

          <!-- SINGLE SCENARIO -->
  				<div class="row no-margin">
  					<a href="/#/subject/"><span class="dash-scenario-label pull-right label label-primary">{{scenario.subject}}</span></a>
  					<div class="col-sm-12">
  						<h4><strong><a href="/#/scenario/{{scenario._id}}" title="{{scenario.name}}">{{scenario.name}}</a></strong></h4>
  					</div>
  				</div>

  				<div class="row no-margin">
  					<div class="col-sm-4">
  						<a href="/#/scenario/{{scenario._id}}" title="{{scenario.name}}" class="thumbnail">
  							<img src="./images/thumbnail_200.png" alt="">
  						</a>
  					</div>
  					<div class="col-sm-8">
  						<p class="extra-info">
  							<span class="glyphicon glyphicon-user"></span> <a href="/#/user/{{scenario.author._id}}" title="{{scenario.author.first_name}} {{scenario.author.last_name}}">{{scenario.author.first_name}} {{scenario.author.last_name}}</a><br>
  							<span class="glyphicon glyphicon-calendar"></span> {{scenario.created | date:'dd.MM.yyyy'}}
  							<span>| <span class="glyphicon glyphicon-eye-open"></span><span> {{scenario.view_count}}</span></span>
  							<span>| <span class="glyphicon glyphicon-heart"></span><span> {{scenario.favorites_count}}</span></span>
  							<span>| <span class="glyphicon glyphicon-comment"></span><span> {{scenario.comments_count}}</span></span>
  						</p>
  						<p>{{scenario.description}}</p>
  						<div class="row open-button">
  							<div class="col-xs-8">
  								<span class="labels">
  									<a href="#"><span class="label label-danger">{{scenario.method}}</span></a>
  									<a href="#"><span class="label label-success">{{scenario.materialType}}</span></a>
  								 </span>
  							</div>
  							<div class="col-xs-4">
  							 <a class="btn btn-success btn-block btn-sm pull-right" href="/#/scenario/{{scenario._id}}" title="{{scenario.name}}">OPEN <span class="glyphicon glyphicon-chevron-right"></span></a>
  							</div>
  						</div>
  					</div>
  				</div>
  				<hr>
  				<!-- SINGLE SCENARIO END -->
        </div>

        <dir-pagination-controls></dir-pagination-controls>

        <div ng-if="users_list.length > 0" >
          <label>Filter by first name / last name / organization </label><input class="form-control" type="search" ng-model="filter_text">
          <!-- USERS LIST -->
          <div ng-repeat="u in users_list | filter:filter_text">
            <div class="row no-margin">
              <div class="col-xs-9">
                <a class="user-list-image" href="/#/user/{{u._id}}" title="{{u.first_name}} {{u.last_name}}">
                  <img ng-src=/images/user/{{u.image_thumb}}?last_modified={{u.last_modified}} alt="{{u.first_name}} {{u.last_name}}" class="img-circle dashboard-user-thumb" />
                </a>
                <a href="/#/user/{{u._id}}" title="{{u.first_name}} {{u.last_name}}">{{u.first_name}} {{u.last_name}}</a> <span ng-if="u.organization" class="user-list-organization">| {{u.organization}}</span>
                <span style="display: none;" class="follow">{{u.following}}</span>
              </div>
              <div class="col-xs-3">
                <a ng-click="addRemoveFollow(u._id,'remove')" ng-if="u.following" class="btn btn-default btn-xs user-list-follow-unfollow-btn">Unfollow</a>
                <a ng-click="addRemoveFollow(u._id)" ng-if="!u.following" class="btn btn-success btn-xs user-list-follow-unfollow-btn">Follow</a>
              </div>

            </div>
            <hr class="no-margin">
          </div>

        </div>

      </div><!-- dashboard main content end -->
    </div>

  </div>
</div>
